body {
  margin: 0;
}
.top-container {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  left: 200px;
  top: 200px;
}
.middle-container {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: relative;
  left: 100px;
}
.bottom-container {
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 200px;
}
